/* mulish-regular - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/mulish-v12-latin-regular.woff2") format("woff2"),
    url("./../fonts/mulish-v12-latin-regular.woff") format("woff");
}
/* mulish-600 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("./../fonts/mulish-v12-latin-600.woff2") format("woff2"),
    url("./../fonts/mulish-v12-latin-600.woff") format("woff");
}
/* mulish-700 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/mulish-v12-latin-700.woff2") format("woff2"),
    url("./../fonts/mulish-v12-latin-700.woff") format("woff");
}
body {
  font-family: "Mulish";
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.dashboard {
  background-color: #363740;
}

.dashboard-link {
  padding-left: 32px;
  padding-top: 37px;
  margin-bottom: 59px;
}

.dashboard-top-list {
  border-bottom: 1px solid rgba(223, 224, 235, 0.06);
  margin-bottom: 16px !important;
}

.active-link {
  background-color: rgba(159, 162, 180, 0.27);
  border-left: 3px solid #dde2ff !important;
}

.dashboard-top-item,
.dashboard-bottom-item {
  padding: 18px 24px 18px 32px;
  border-left: 3px solid transparent;
}

.dashboard-top-item:hover,
.dashboard-bottom-item:hover {
  background-color: rgba(159, 162, 180, 0.08);
  border-left: 3px solid #dde2ff;
}

.dashboard-top-item:hover .dashboard-top-item-link,
.dashboard-bottom-item:hover .dashboard-bottom-item-link {
  color: #fff !important;
}
.dashboard-top-item:active,
.dashboard-bottom-item:active {
  background-color: rgba(159, 162, 180, 0.27);
}

.dashboard-top-item-link,
.dashboard-bottom-item-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a4a6b3;
  padding-left: 40px;
}

.dashboard-top-item-link::before,
.dashboard-bottom-item-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-top-item:nth-child(1) .dashboard-top-item-link::before {
  background-image: url("./../images/overview-icon.svg");
}
.dashboard-top-item:nth-child(2) .dashboard-top-item-link::before {
  background-image: url("./../images/tickets-icon.svg");
}
.dashboard-top-item:nth-child(3) .dashboard-top-item-link::before {
  background-image: url("./../images/ideas-icon.svg");
}
.dashboard-top-item:nth-child(4) .dashboard-top-item-link::before {
  background-image: url("./../images/contacts-icon.svg");
}
.dashboard-top-item:nth-child(5) .dashboard-top-item-link::before {
  background-image: url("./../images/agents-icon.svg");
}
.dashboard-top-item:nth-child(6) .dashboard-top-item-link::before {
  background-image: url("./../images/articles-icon.svg");
}

.dashboard-bottom-item:nth-child(1) .dashboard-bottom-item-link::before {
  background-image: url("./../images/settings-icon.svg");
}
.dashboard-bottom-item:nth-child(2) .dashboard-bottom-item-link::before {
  background-image: url("./../images/subscription-icon.svg");
}

.tickets {
  padding: 0 23px 23px 23px;
  background-color: #f7f8fc;
}

.tickets-header {
  max-width: 1091px;
  width: 100%;
  background-color: #f7f8fc;
  padding: 30px 0;
  z-index: 2;
}

.tickets-header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
}

.tickets-info {
  gap: 32px;
}

.tickets-info-search-img {
  cursor: pointer;
}

.tickets-info-news-img {
  cursor: pointer;
}

.tickets-info-search-input {
  display: none;
  width: 400px;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  box-shadow: 0 0 10px 0 rgb(180, 179, 179);
  outline: none;
}

.tickets-info-search-input:focus {
  box-shadow: 0 0 25px 5px cyan;
}

.tickets-info-search-input-toggle {
  display: block;
}

.tickets-info-search-span {
  display: none;
  color: black;
  text-shadow: 0 0 3px red;
  border-radius: 5px;
  padding: 3px 6px;
  background: linear-gradient(yellow, lightgreen, green);
}

.tickets-info-search-span-toggle {
  display: block;
}

.tickets-info-username {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #252733;
  margin-right: 14px;
}

.tickets-block {
  margin-top: 130px;
  border-radius: 8px 8px 0 0;
}

.tickets-box {
  padding: 32px 32px 12px 32px;
  max-width: 1090px;
  width: 100%;
  top: 108px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.tickets-box-top {
  margin-bottom: 48px;
}

.tickets-box-top-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.tickets-sort-filter-box {
  gap: 32px;
}

.tickets-sort-box-text,
.tickets-filter-box-text {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  letter-spacing: 0.2px;
  color: #4b506d;
  cursor: pointer;
}

.tickets-sort-box-text::before,
.tickets-filter-box-text::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

.tickets-sort-box-text::before {
  background-image: url("./../images/sort-icon.svg");
}
.tickets-filter-box-text::before {
  background-image: url("./../images/filter-icon.svg");
}

#sort-select {
  border-radius: 3px;
  padding: 3px 6px;
}

#filter-select {
  border-radius: 3px;
  padding: 3px 6px;
}

.tickets-item-list {
  gap: 40px;
}

.tickets-item-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9fa2b4;
}

.tickets-item-item:nth-child(1) {
  max-width: 440px;
  width: 100%;
}
.tickets-item-item:nth-child(2) {
  max-width: 208px;
  width: 100%;
}
.tickets-item-item:nth-child(3) {
  max-width: 140px;
  width: 100%;
}
.tickets-item-item:nth-child(4) {
  max-width: 104px;
  width: 100%;
}

.tickets-list {
  margin-top: 133px;
}

.tickets-item {
  gap: 40px;
}

.tickets-item-details {
  max-width: 440px;
  width: 100%;
  gap: 24px;
}

.tickets-item-details-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.tickets-item-details-desc-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  margin-bottom: 4px;
}

.tickets-item-details-desc-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.tickets-item {
  padding: 24px 31px;
  border-top: 1px solid #dfe0eb;
}

.tickets-item-customerName {
  max-width: 208px;
  width: 100%;
}

.tickets-item-customerName-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  margin-bottom: 4px;
}

.tickets-item-customerName-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.tickets-item-date {
  max-width: 140px;
  width: 100%;
}

.tickets-item-date-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  margin-bottom: 4px;
}

.tickets-item-date-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.tickets-item-priority {
  max-width: 120px;
  width: 100%;
}

.btn-priority {
  padding: 5px 12px;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #f12b2c;
}

.red {
  background-color: #f12b2c;
}
.yellow {
  background-color: #fec400;
}
.green {
  background-color: #29cc97;
}
